.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  color: #434242ff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.container {
  width: 90%;
  margin: 150px 40px;
  text-align: left;
  color: #434242ff;
}
.main_header {
  text-align: center;
  margin: 70px 0;
}
.section {
  margin: 50px 0;
  line-height: 1.2;
}
.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid #ccc;
  margin: 0 30px;
  color: #434242ff;
}
